{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <h1>Liste des annonces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Date de publication</th>
                <th>Budget</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
               <td>{{ annonce.datePublication|date('d/m/Y') }}</td>
                <td>{{ annonce.budget }}</td>

                <td>
                    <a href="{{ path('app_annonce_supprimer', {id: annonce.id}) }}"
                       class="btn btn-danger"
                       onclick="return confirm('Voulez-vous vraiment supprimer cette annonce ?');">
                        Supprimer
                    </a>
                   <a href="{{ path('app_annonce_modifier', {id: annonce.id}) }}"
                       class="btn btn-danger"
                       onclick="return confirm('Voulez-vous vraiment modifier cette annonce ?');">
                        modifier
                    </a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune annonce trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_annonces_ajouter') }}">Ajouter une annonce</a>
{% endblock %}

