{% extends 'base.html.twig' %}

{% block title %}Liste des chercheurs{% endblock %}

{% block body %}
    <h1>Liste des recruteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>telephone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for c in recruteurs %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nom }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.adresse }}</td>
                <td>{{ c.telephone }}</td>
                <td>
                     <a href="{{ path('app_recruteur_supprimer', {id: c.id}) }}"
                       class="btn btn-danger"
                       onclick="return confirm('Voulez-vous vraiment supprimer ce chercheur ?');">
                        Supprimer
                    </a>
                        <a href="{{ path('app_recruteur_modifier', {id: c.id}) }}"
                       class="btn btn-danger"
                       onclick="return confirm('Voulez-vous vraiment modifier ce chercheur ?');">
                        modifier
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun chercheur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_recruteur_ajouter') }}">Ajouter un recruteur</a>
{% endblock %}