{% extends 'base.html.twig' %}

{% block title %}Modifier une candidature{% endblock %}

{% block body %}
    <h1>Modifier la candidature</h1>

    {{ form_start(form) }}

       
        {{ form_row(form.id_chercheur) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.mot_de_passe) }}
        {{ form_row(form.disponibilite) }}
        {{ form_row(form.description) }}



        <button class="btn btn-primary">Mettre à jour</button>

    {{ form_end(form) }}
    {# Fin du formulaire #}

    <a href="{{ path('app_chercheur') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}