{% extends 'base.html.twig' %}

{% block title %}Liste des candidatures{% endblock %}

{% block body %}
    <h1>Liste des candidatures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                
               
                <th>date_pro</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}
            <tr>
                <td>{{ candidature.id }}</td>
                <td>{{ candidature.datePro|date('Y-m-d') }}</td>
                <td>{{ candidature.statut }}</td>
                <td>
                    <a href="{{ path('app_supprimer', {id: candidature.id}) }}"
                       class="btn btn-danger"
                       onclick="return confirm('Voulez-vous vraiment supprimer cette candidature ?');">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun chercheur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_candidature_ajouter') }}">Ajouter une candidature</a>
{% endblock %}